{% extends 'base.html' %}

{% block title %}Welcome to RukunChat{% endblock %}

{% block additional_styles %}
    <style>
        /* Add your additional styles for the landing page here */
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            overflow: hidden;
        }

        .background-img {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            object-position: top;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .welcome-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #fff; /* Change text color to white */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow */
        }

        .welcome-message {
            font-size: 24px;
            margin-top: 20px;
        }

        .services-link {
            display: block;
            margin-top: 20px;
            font-size: 18px;
            color: #fff; /* Change link color to white */
            text-decoration: none; /* Remove underline */
            transition: color 0.3s ease; /* Add smooth transition for color change */
        }

        .services-link:hover {
            color: #007BFF; /* Change link color on hover */
        }
    </style>
{% endblock %}

{% block content %}
{% load static %}
    <img src="{% static 'images/bg.jpg' %}" alt="Background" class="background-img">
    <div class="overlay"></div>
    <div class="container welcome-container">
        <h1>Welcome to RukunChat</h1>
        <p class="welcome-message">Your media for community communication.</p>
        <a href="#" class="services-link">See all services</a>
    </div>
{% endblock %}
