<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Rukun Chat{% endblock %}</title>
    <!-- Add Bootstrap CSS link or other stylesheets for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap">
    <style>
        /* Add your custom styles here */
        body {
            padding-top: 76px; /* Adjust according to your navbar height */
            font-family: 'Montserrat', sans-serif; /* Use Montserrat font */

        }


        .navbar {
        height: 70px; /* Increased height */
        background-color: #ffffff; /* Lighter color */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        }

        .navbar-brand {
        font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
        font-size: 24px; /* Adjust font size */
        font-weight: bold; /* Make it bold */
        }

        .navbar-logo {
        height: 30px; /* Set the height of the logo */
        margin-right: 10px; /* Adjust margin for spacing */
        }

        {% block additional_styles %}{% endblock %}
    </style>
</head>

<body>
    <!-- Navar Start -->
    <nav class="navbar navbar-expand-lg navbar-light  fixed-top">
        <a class="navbar-brand" href="{% url 'authentication:index' %}">
            <img src="{% static 'images/logo.jpg' %}" alt="Rukun Chat Logo" class="navbar-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!-- Authentication Links -->
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:login' %}">Login</a>
                    </li>
                {% endif %}
                <!-- Other Links -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pengumuman:pengumuman_list' %}">Pengumuman</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'layanan:show_all_layanan' %}">Layanan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'album:mygallery' %}">Album</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'administration:view_profile' %}">Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Add Bootstrap JS and other scripts if needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- navbar end -->
    <main class="p-3">
        {% if not gallery %}
        <div class="mt-5">
            <h4 class="text-center pt-5">
                You have no Photos, Please Add your Pictures
            </h4>
        </div>
        {% endif%}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">Albums</div>
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item active">
                                <a href="{% url 'album:mygallery' %}" class="text-decoration-none text-light " id="allalbum">All</a>
                            </li>
                            {% for cat in album %} {% if cat.cat%}
                            <li class="list-group-item">
                                <a href="/album?album={{cat.cat}}"  class="text-decoration-none album">
                                    {{cat.cat}}</a>
                            </li>
                            {% endif%} {% endfor %}
                            <a href="{% url 'album:makegallery' %}" class="btn btn-dark m-1 btn-sm">Add Photo</a>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        {% for data in gallery%}
                        <div class="col-md-4 my-2">
                            <div class="card h-100">
                                <img src="{{ data.image.url }}" class="image-thumbnail img-fluid" alt="...">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <small>Album: {{ data.album.cat }}</small>
                                    <div class="mt-auto">
                                        <small><a class="btn btn-danger btn-sm" href="/album/delete-image?id={{ data.id }}">Delete</a></small>
                                        <a href="view-photo?id={{ data.id }}" class="btn btn-outline-dark btn-sm m-1">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        
        const album=document.querySelectorAll('.album');
        const allalbum=document.getElementById('allalbum')
        onload=function getParameter(){
            let test=window.location.search
            s=test.split('=')
            album.forEach(x=>{
                if(x.innerText==s[1]){
                    x.parentElement.classList.add('active')
                    x.classList.add('text-light')
                    allalbum.classList.remove('text-light')
                    allalbum.parentElement.classList.remove('active')
                }
            })
        }
    </script>
</body>

</html>