<!-- pengumuman_list.html -->
{% extends 'base.html' %}

{% block title %}Pengumuman List{% endblock %}

{% block additional_styles %}
    <style>
        /* Add your additional styles for the landing page here */
    .card {
        border: 1px solid #ddd; /* Add a border for better visibility */
        border-radius: 10px; /* Optional: Add border-radius for a rounded look */
    }

    .card-title {
        color: #333;
        display: flex;
        justify-content: space-between;
    }

    .topic {
        font-size: 14px; /* Adjust the font size as needed */
        color: #888; /* Set the desired color for the topic */
    }

    .card-subtitle {
        color: #666;
    }

    .creator-photo {
        width: 40px; /* Set the width of the creator's photo */
        height: 40px; /* Set the height of the creator's photo */
        object-fit: cover; /* Maintain aspect ratio for the photo */
        border-radius: 50%; /* Make the photo circular */
    }

    .card-text {
        color: #555; /* Set the text color */
    }

    .read-more {
        color: #3498db; /* Set the color for the "Read full" link */
        text-decoration: none;
    }

    .read-more:hover {
        text-decoration: underline; /* Add underline on hover */
    }
    .delete-edit-buttons {
            display: flex;
            justify-content: flex-end;
    }

    .delete-edit-buttons a {
            margin-left: 10px;
    }
    
    body {
        background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
        margin-bottom: 20px; /* Add some space at the bottom of the page */
    }

    .container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
    }

    .card {
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-danger:hover {
        background-color: #bd2130;
        border-color: #bd2130;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }

    .search-bar {
        width: 100%;
        padding: 8px;
        border: 1px solid #ced4da;
        border-radius: 10px;
    }
    </style>

{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="mb-4">Pengumuman Warga</h1>

        {% if request.user.is_authenticated %}
            <!-- Button to trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPengumumanModal">
                Add New Pengumuman
            </button>
        {% else %}
            <p class="mt-3 mb-3">You need to be authenticated to add a new pengumuman. <a href="{% url 'authentication:login' %}">Login</a> or <a href="{% url 'authentication:signup' %}">Sign up</a>.</p>
        {% endif %}

        <div class="d-flex mt-3 mb-3">
            <form method="get" action="{% url 'pengumuman:pengumuman_list' %}" class="mr-2 flex-grow-1">
                <input type="text" name="q" placeholder="Search..." class="search-bar">
            </form>
            <button type="submit" class="btn btn-secondary">Search</button>
        </div>

        <!-- Filter buttons -->
        <div class="btn-group mb-3">
            <button type="button" class="btn btn-secondary dropdown-toggle {% if topic %}active{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if topic %}Filter: {{ topic }}{% else %}Filter by Topic{% endif %}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item {% if not topic %}active{% endif %}" href="?">All</a>
                <a class="dropdown-item {% if topic == 'Kegiatan' %}active{% endif %}" href="?topic=Kegiatan">Kegiatan</a>
                <a class="dropdown-item {% if topic == 'Silahturahmi' %}active{% endif %}" href="?topic=Silahturahmi">Silahturahmi</a>
                <a class="dropdown-item {% if topic == 'Kebaikan' %}active{% endif %}" href="?topic=Kebaikan">Kebaikan</a>
                <a class="dropdown-item {% if topic == 'Lainnya' %}active{% endif %}" href="?topic=Lainnya">Lainnya</a>
            </div>
        </div>

        <table class="table">
            <tr>
                <th><a href="?order_by=-date_created">Date (Desc)</a></th>
                <th><a href="?order_by=date_created">Date (Asc)</a></th>
            </tr>
        </table>

        {% for pengumuman in pengumumans %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    <span>{{ pengumuman.title }}</span>
                    <span class="topic">{{ pengumuman.topic }}</span>
                </h5>
                <p class="card-subtitle mb-3 text-muted">
                    <span class="d-flex align-items-center">
                        <img src="{{ pengumuman.user.foto.url }}" alt="{{ pengumuman.user.nama_lengkap }}'s Photo" class="card-img creator-photo">
                        <span class="ml-2">
                            Creator: {{ pengumuman.user.nama_lengkap }} <br>
                            Date Created: {{ pengumuman.date_created|date:"M. j, Y, g:i a" }}
                        </span>
                    </span>
                </p>
                <p class="card-text">{{ pengumuman.text|truncatewords:150 }}{% if pengumuman.text|length > 150 %}...{% endif %}</p>
                <a href="{% url 'pengumuman:pengumuman_detail' id=pengumuman.id %}" class="read-more">Read full</a>

                {% if pengumuman.user.user == request.user %}
                    <div class="delete-edit-buttons">
                        <a href="#" class="btn btn-danger">Delete</a>
                        <a href="#" class="btn btn-primary">Edit</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>


    <!-- Modal -->
    <div class="modal fade" id="createPengumumanModal" tabindex="-1" role="dialog" aria-labelledby="createPengumumanModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createPengumumanModalLabel">Create New Pengumuman</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'pengumuman:pengumuman_list' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
