<!-- pengumuman_detail.html -->
{% extends 'base.html' %}

{% block title %}Pengumuman Detail{% endblock %}

{% block additional_styles %}
    <style>
        /* Add your additional styles for the landing page here */
        .card {
    border: 1px solid #ddd; /* Add a border for better visibility */
    border-radius: 10px; /* Optional: Add border-radius for a rounded look */
    }

    .card-title {
        color: #333; /* Set title color */
    }

    .card-subtitle {
        color: #666; /* Set subtitle color */
    }

    .creator-photo {
        width: 40px; /* Set the width of the creator's photo */
        height: 40px; /* Set the height of the creator's photo */
        object-fit: cover; /* Maintain aspect ratio for the photo */
        border-radius: 50%; /* Make the photo circular */
    }

    .card-text {
        color: #555; /* Set the text color */
    }

    .read-more {
        color: #3498db; /* Set the color for the "Read full" link */
        text-decoration: none;
    }

    .read-more:hover {
        text-decoration: underline; /* Add underline on hover */
    }

{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="card-title">{{ pengumuman.title }}</h1>
            <p class="card-subtitle mb-3 text-muted">
                <span class="d-flex align-items-center">
                    <img src="{{ pengumuman.user.foto.url }}" alt="{{ pengumuman.user.nama_lengkap }}'s Photo" class="card-img creator-photo">
                    <span class="ml-2">
                        Creator: {{ pengumuman.user.nama_lengkap }} <br>
                        Date Created: {{ pengumuman.date_created|date:"M. j, Y, g:i a" }}
                    </span>
                </span>
            </p>
            <p class="card-text">{{ pengumuman.text }}</p>
        </div>
    </div>
{% endblock %}
