<!-- pengumuman_list.html -->
{% extends 'base.html' %}

{% block title %}Pengumuman List{% endblock %}

{% block content %}
    <h1 class="mb-4">Pengumuman Warga</h1>

    {% for pengumuman in pengumumans %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ pengumuman.title }}</h5>
                <div class="d-flex align-items-center mb-3">
                    <!-- <img src="{{ pengumuman.user.pengguna.foto.url }}" alt="Creator Photo" class="card-img"> -->
                    <p class="card-subtitle mb-2 text-muted ml-2">Creator: {{ pengumuman.user.nama_lengkap }}</p>
                </div>
                <p class="card-subtitle mb-2 text-muted">Date Created: {{ pengumuman.date_created|date:"M. j, Y, g:i a" }}</p>
                <p class="card-text">{{ pengumuman.text|truncatewords:150 }}{% if pengumuman.text|length > 150 %}...{% endif %}</p>
                <a href="#" class="read-more">Read full</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
