<form action="{% url 'agenda:add' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Informasi Kegiatan:</legend>
        <label for="name">Nama kegiatan:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="desc">Deskripsi Kegiatan:</label>
        <textarea id="desc" name="desc" rows="4" cols="50" 
        placeholder="Masukkan deskripsi kegiatan anda di sini"></textarea><br><br>
        <label for="waktu">Waktu Kegiatan:</label>
        <input type="datetime-local" id="waktu" name="waktu" required><br><br>
    </fieldset>
    <input type="submit" value="ADD">
</form>