<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Layanan</title>
    <style>
        .title {
			text-align: center;
		}
    </style>
</head>
<body>
    <h1 class="title">Tambah Layanan</h1>
    <form method="POST" action="/layanan/add/">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-secondary">Save</button>
    </form>
    <a href="/layanan/all/">
        <button>Back</button>
    </a>
</body>
</html>