{% extends 'base.html' %}

{% block content %}
<h1>Forum</h1>

{% if user.is_authenticated %}
<a href="{% url 'forum:add_forum' %}">Tambah Forum</a>
{% endif %}

{% for forum in forums %}
<div class="forum">
  <h2>{{ forum.title }}</h2>
  <p>Topik: {{ forum.topic }}</p>
  <p>Jumlah Tanggapan: {{ forum.num_responses }}</p>
  <p>Dibuat oleh: {{ forum.creator.username }}</p>
  <p>Tanggal Dibuat: {{ forum.date_created }}</p>

  {% if user.is_authenticated%}
  <a href="{% url 'forum:reply_forum' forum.id %}">Reply</a>
  <a href="{% url 'forum:forum_detail' forum.id %}">Detail</a>
  {% endif %}
</div>
{% endfor %}
{% endblock %}