{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="mb-4">Update Profile</h2>

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <!-- User Profile Information -->
          <div class="mb-3">
            {{ pengguna_form }}
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}